<!-- App favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='admin/assets/images/favicon.ico') }}">

<!-- App css -->
<link href="{{ url_for('static', filename='admin/assets/css/app.min.css') }}" rel="stylesheet" type="text/css">

<!-- Icons css -->
<link href="{{ url_for('static', filename='admin/assets/css/icons.min.css') }}" rel="stylesheet" type="text/css">

<!-- Theme Config Js -->
<script src="{{ url_for('static', filename='admin/assets/js/config.js') }}"></script>

<link href="{{ url_for('static', filename='admin/assets/libs/sweetalert2/sweetalert2.min.css') }}" rel="stylesheet"
      type="text/css">

<style>
    [v-cloak] {
        display: none;
    }
</style>