<header class="app-header">
    <div class="flex items-center px-6 gap-3">
        <!-- Brand Logo -->


        <!-- Page Title -->
        <div class="me-auto">
            <div class="md:flex hidden">
                <h4 class="page-title text-lg">Dashboard</h4>
            </div>
        </div>
        <div class="relative md:flex hidden">
            <button data-fc-type="dropdown" data-fc-placement="bottom-end" type="button" class="nav-link p-2">
            <div class="fc-dropdown fc-dropdown-open:opacity-100 hidden opacity-0 w-80 z-50 transition-[margin,opacity] duration-300 bg-white dark:bg-gray-800 shadow-lg border border-gray-200 dark:border-gray-700 rounded-lg">

                <div class="p-4 h-80" data-simplebar>
                    <h5 class="text-xs text-gray-500 dark:text-gray-300 mb-2">Today</h5>

                    <a href="javascript:void(0);" class="block mb-4">
                        <div class="card-body">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <div class="flex justify-center items-center h-9 w-9 rounded-full bg text-white bg-primary">
                                        <i class="mdi mdi-comment-account-outline text-lg"></i>
                                    </div>
                                </div>
                                <div class="flex-grow truncate ms-2">
                                    <h5 class="text-sm font-semibold mb-1">Datacorp <small
                                            class="font-normal text-gray-500 ms-1">1 min ago</small></h5>
                                    <small class="noti-item-subtitle text-muted">Caleb Flakelar commented on
                                        Admin</small>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="javascript:void(0);" class="block mb-4">
                        <div class="card-body">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <div class="flex justify-center items-center h-9 w-9 rounded-full bg-info text-white">
                                        <i class="mdi mdi-heart text-lg"></i>
                                    </div>
                                </div>
                                <div class="flex-grow truncate ms-2">
                                    <h5 class="text-sm font-semibold mb-1">Admin <small
                                            class="font-normal text-gray-500 ms-1">1 hr ago</small></h5>
                                    <small class="noti-item-subtitle text-muted">New user registered</small>
                                </div>
                            </div>
                        </div>
                    </a>



                    <a href="javascript:void(0);" class="block">
                        <div class="card-body">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <img src="{{ url_for('static', filename='admin/assets/images/users/avatar-4.jpg') }}"
                                         class="rounded-full h-9 w-9"
                                         alt="">
                                </div>
                                <div class="flex-grow truncate ms-2">
                                    <h5 class="text-sm font-semibold mb-1">Karen Robinson</h5>
                                    <small class="noti-item-subtitle text-muted">Wow ! this admin looks good and
                                        awesome design</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <a href="javascript:void(0);"
                   class="p-2 border-t border-dashed border-gray-200 dark:border-gray-700 block text-center text-primary underline font-semibold">
                    View All
                </a>
            </div>
        </div>

        <!-- Profile Dropdown Button -->
        <div class="relative">
            <button data-fc-type="dropdown" data-fc-placement="bottom-end" type="button"
                    class="nav-link flex items-center">
                <span class="text-sm mx-2">Admin</span>
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <div class="fc-dropdown fc-dropdown-open:opacity-100 hidden opacity-0 w-44 z-50 transition-[margin,opacity] duration-300 bg-white shadow-lg border rounded py-2 border-gray-200 dark:border-gray-700 dark:bg-gray-800">
                <h6 class="py-2 px-5">Welcome !</h6>

                <a class="flex items-center py-2 px-5 text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                   href="pages-gallery.html">
                    <i data-lucide="user" class="w-4 h-4 me-2"></i>
                    <span>My Account</span>
                </a>
                <a class="flex items-center py-2 px-5 text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                   href="apps-kanban.html">
                    <i data-lucide="settings" class="w-4 h-4 me-2"></i>
                    <span>Settings</span>
                </a>
                <a class="flex items-center py-2 px-5 text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                   href="auth-login.html">
                    <i data-lucide="lock" class="w-4 h-4 me-2"></i>
                    <span>Lock Screen</span>
                </a>
                <hr class="my-2 -mx-2 border-gray-200 dark:border-gray-700">
                <a class="flex items-center py-2 px-5 text-sm text-gray-800 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                   href="{{ url_for('logout') }}">
                    <i data-lucide="log-out" class="w-4 h-4 me-2"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </div>
</header>
